.sidebar {
  width: 20rem !important;
  padding-top: 4rem !important;
  background-color: #fff;
  margin-bottom: 4rem !important;

}

.content {
  padding-top: 6rem !important;
  margin-bottom: 4rem !important;
}
